- @records.order("entrance DESC").each do |rec|
  %tr{:id=>"item_#{rec.id}"}
    %td=link_to rec.visitor.name
    %td=rec.visitor.identification
    %td=rec.plate_number
    %td=rec.user.address
    %td=rec.entrance
    %td=rec.exit