alert("funciona el for");
$('#visitor_name').attr("value","");
$('#visitor_identification').attr("value","");
$('#record_plate_number').attr("value","");
$('#user_address').attr("value","");
$('#modalbody').append("#{escape_javascript(render :partial=>'result')}");
$('#ResultModal').modal('show')
